<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BurgerMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BurgerMenuNoStoryboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB8284541A2A9150002EDCA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB82846F1A2A9151002EDCA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBB9BBCF1A253FE9004314AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBB9BBEB1A253FEA004314AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
